body {
  margin: 0;
  padding:0;
  background-color: bisque;
  color:brown;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.value{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

